#space-graph {
  border: 1px solid #cccccc;
  background: white;
}

#space-graph-tooltip-template {
  display: none;
}

.space-graph-tooltip {
  padding: 0 5px 0 5px;
}

.controls {
  padding-top: 4px;
}

.controls .control {
  cursor: pointer;
  display: inline-block;
  color: #707070;
  margin: 5px;
  padding: 2px 5px 2px 5px;
}

.controls .control:hover {
  color: #333333;
}

.controls .control span.aui-icon {
  margin-right: 5px;
}

#space-graph-message-container {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  z-index: 100;
}

#space-graph-message {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, .9);
  font-size: 30px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: rgba(128, 128, 128, 0.498039) 3px 3px 10px;
}

#space-graph-message a {
  cursor: pointer;
  text-decoration: none;
}